target
.idea
src/main/resources/docker/clusterID
src/main/resources/docker/docker-data
src/main/resources/docker/scripts
src/main/resources/docker/wiremock/*
!src/main/resources/docker/wiremock/mappings
src/main/resources/docker/otlp/*
!src/main/resources/docker/otlp/otlp-collector-config.yaml