target
.idea
src/main/resources/docker/clusterID
src/main/resources/docker/docker-data
src/main/resources/docker/scripts
src/main/resources/docker/wiremock/*
!src/main/resources/docker/wiremock/mappings
src/main/resources/docker/otel/*
!src/main/resources/docker/otel/otel-collector-config.yaml
src/main/resources/docker/prometheus/*
!src/main/resources/docker/prometheus/prometheus.yml
src/main/resources/docker/data